/*Default: 320px a 480px*/
main{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

main>div:first-child{
	height:80%; 
	width:55%;
	background-color: black; 
	border: 2px solid indigo;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main>div>ul{
	text-align: center;
	padding: 0;
	background-color:indigo;
	border: 10px solid indigo; 
}

main>div>ul>li{
	display: inline-block;
}

main>div>img{
	max-width: 70%;
	max-height: 70%;
	display: block;
	margin: 0 auto;
	border: 2px solid indigo;
}

main>div>div{
	width: 60%;
/*	background: yellow;*/
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	min-width: max-content;
}

main>div>div>label{
	color: white;
	font-size: 0.7em;
	text-align: center;
	margin-top: 0.5em;
	margin-left: 0.2em;
	margin-right: 0.2em;
}

main>div>div>input[type="button"]{
	border: none;
	color: white;
	background-color:indigo;
	font-size: 1em;
	/*padding: 5px 15px; */
}



main>div:last-child{
	height: 80%;
	background-color: red;
	width: 35%;
	border: 2px solid indigo;
}

main>div>h3{
	color: white;
}


main>div>h4{
	color: white;
}

main>div>label{
	color: white;
	font-weight: bold;
}

main>div>p{
	color: white;
}

main>div>input[type="button"]{
	border-radius: 10px;
	border: 5px solid indigo;
	color: white;
	background-color:indigo;
	font-size: 1em;
	margin-bottom: 1em;
}

main>div>input[type="button"]:active{
	border-radius: 10px;
	border: 5px solid red;
	color: white;
	background-color:red;
	font-size: 1em;
	margin-bottom: 1em;
}



/*Menu iconos: 321px a 640px*/
@media screen and (min-width: 481px) and (max-width: 640px){
	
}


/*Menu completo: 641px a infinito*/
@media screen and (min-width: 641px){
	main>div>div{
	width: 38%;
}


main>div>div>input[type="button"]{
	font-size: 1.5em;
	/*padding: 5px 15px; */
}

main>div>div>label{
	font-size: 1.2em;
}	

}
