/*Default: 320px a 480px*/
main{
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	/*         align-items: center; */
}

main>section{
	margin: 10px;
	padding: 10px;
}
main>section:nth-child(1){
	/* width:55%; */
	background-color: slateblue; 
	/* border: 2px solid indigo; */
	display: -webkit-box;
	display: flex;
	margin-top: 1em;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main>section>ul{
	text-align: center;
	background-color:indigo;
	padding: 10px;
}

main>section>ul>li{
	display: inline-block;
}

main>section>img{
	max-width: 60%;
	max-height: 60%;
	display: block;
	margin: 0 auto;
	border: 2px solid indigo;
}

main>section>div{
	width: 60%;
	/* background: yellow; */
	display: -webkit-box;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

main>section>div>label{
	color: white;
	font-size: 0.7em;
	text-align: center;
	margin-top: 0.5em;
	margin-left: 0.2em;
	margin-right: 0.2em;
}

main>section>div>input[type="button"]{
	border: none;
	color: white;
	background-color:indigo;
	font-size: 1em;
	/*padding: 5px 15px; */
}

main>section>h3{
	color: white;
}


main>section>h4{
	color: white;
}

main>section>label{
	color: white;
	font-weight: bold;
}
main>section>a{
	color: indigo;
	text-decoration: none;
}

main>section>p{
	color: white;
}

main>section>input[type="button"]{
	border-radius: 10px;
	border: 5px solid indigo;
	color: white;
	background-color:indigo;
	font-size: 0.8em;
	margin-bottom: 1em;
}

main>section>input[type="button"]:active{
	border-radius: 10px;
	border: 5px solid red;
	color: white;
	background-color:red;
	font-size: 0.8em;
	margin-bottom: 1em;
}

#seguir-no{
	display: none;
}

.follow1{
	color: white;
	border: 2px solid indigo;
	background: indigo;
	margin-bottom: 1em;
}

.follow2{
	color: white;
	border: 2px solid indigo;
	background: indigo;
	margin-bottom: 1em;
	visibility: collapse;
}

#seguir-no:checked ~ .follow2{
	visibility: visible;
}

#seguir-no:checked ~ .follow1{
	visibility: collapse;
}

main>section:nth-child(2){
	background-color: slateblue;
	/* border: 2px solid indigo; */
}
/* TODO Edu(27/02/2020): porque esta vaina va de dos en dos???? */
main>section>article:nth-child(2){
	/* background-color: lime; */
}
main>section>article p{
	background-color: gainsboro;
	border-radius: 5px;
	padding: 5px;
	margin: 5px 0;
}
main>section>article>ul{
	margin: 5px;
	padding: 0;
}
main>section>article>ul>li{
	display: inline-block;
	font-size: 12px;
	/* background-color: mediumorchid; */
	text-decoration: underline;
}
main>section:last-child>article textarea{
	position: relative;
	width: 100%;
	margin-bottom: 10px;
	border-radius: 10px;
}


/*Menu iconos: 321px a 640px*/
@media screen and (min-width: 481px) and (max-width: 640px){

}

/*Menu completo: 641px a infinito*/
@media screen and (min-width: 641px){
	main>section>div{
		width: 38%;
	}

	main>section:first-child{
		/*	height:80%; */
		/* width:30%; */
		background-color: slateblue; 
		/* flex-wrap: 100%; */
	}

	main>section>div>label{
		font-size: 0.8em;
	}

	main>section>img{
		max-width: 45%;
		max-height: 45%;
		display: block;
		margin: 0 auto;
		/* border: 2px solid indigo; */
	}	
	main>section:nth-child(2){
		flex-basis: 80%;
	}

}
