input[type="text"]{
	width: 180px;
}

input[type="number"]{
	/* width: 50%; */
}
#pr:checked {
	/* margin: 10px; */
}
#pr:checked ~ input[type="text"]{
	/* display: none; */
}
#pr:checked ~ input[type="number"]{
	display: initial;
	width: 87.5px;
}

section>h3{
	font-size: 20px;
}

section>form{
	grid-gap: 5px;
	display: grid;
	grid-template-columns: max-content 105px 105px;
	align-items: center;
}
section>form>label{
	text-align: right;
	grid-column: 1;
	/* background-color: lime; */
}
section>form>label:nth-child(12),
section>form>label:nth-child(10){
	/* background-color: blue; */
	grid-column-start: 1;
	grid-column-end: span 2;
	text-align: center;
}
section>form>input[type="checkbox"]{
	background-color: red;
}
section>form>select,
section>form>input[type="text"]{
	/* background-color: cyan; */
	grid-column-start: 2;
	grid-column-end: span 2;
	min-width: 100%;
}
section>form>input[type="number"]{
	/* background-color: blue; */
	width: 100%;
}
section>form>input[type="submit"]{
	grid-row: 7;
	grid-column-start: 2;
	grid-column-end: span 4;
}

@media screen and (min-width: 641px){
	section>form{
		grid-template-columns: max-content auto auto;
	}
}
