/* main>section:nth-child(1) input[type="text"]{ */
/* 	background-color: red; */
/* } */


#t1{
	/* background-color: orange; */
}
#t2{
	/* background-color: blue; */
	/* visibility: hidden; */
}
input[type="text"]{
	width: 180px;
}

input[type="number"]{
	display: none;
	margin: 0;
}
#pr:checked {
	/* margin: 10px; */
}
#pr:checked ~ input[type="text"]{
	display: none;
}
#pr:checked ~ input[type="number"]{
	display: initial;
	width: 87.5px;
}

section>h3{
	font-size: 20px;
}

