main>form>div{
	position: relative;
	text-align: center;
	margin-top: 15px;
}
section{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 5px;
}
section>h3{
	text-decoration: underline;
	font-size: 30px;
	text-align: center;
	margin: 5px;
	flex-basis: 100%;
}
main>section>ul{
	flex-basis: 100%;
	text-align: center;
	background-color: slateblue;
}
main>section>ul>li:nth-child(1), li:nth-child(5){
	/* background-color: red; */
	/* text-decoration: underline; */
}
main>section>ul>li:nth-child(3){
	/* background-color: green; */
}
main>section>ul>li{
	display: inline-block;
	justify-content: center;
	/* align-items: center; */
}
article{
	background-color: slateblue;
	margin: 5px;
	/* para que funcione el text ellipsis */
	min-width: 0;
	/* flex-basis: 100%; */
	display: grid;
	grid-template-rows: 45px 55px auto 45px 30px 30px;
	align-items: center;
	text-align: center;
}
article>h4{
	text-align: center;
}
article>a>img{
	/* TODO Edu(13/02/2020): que sea siempre cuadrado? */
	max-width: 85%;
	/*max-height: 85%;*/
	display: flex;
	margin: 0 auto;
	transition-duration: 0.3s;
}
article>a>img:hover{
	transform: scale(1.08);
	/* TODO Edu(16/02/2020): que te pasa firefox tio */
	border-radius: 10px;
}
article>ul{
	/* list-style-type: none; */
	/* background-color: cyan; */
	/* text-align: center; */
	padding: 0;
}
article>ul>li{
	display: inline-block;
	/* background-color: lightblue; */
}
article>ul>li:nth-child(1){
	text-align: left;
	width: 48%;
}
article>ul>li:nth-child(2){
	text-align: left;
	width: 12%;
}
article>ul>li:nth-child(3){
	text-align: right;
	width: 12%;
}
article>h5{
	/* text-align: center; */
	font-size: 20pt;
	margin: 15px 0 0 0;
}
article>time{
	font-size: 0.8em;
}
article>p{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin: 5px 10px;
}


@media screen and (min-width: 481px){
	main>form>div{
		text-align: left;
	}
}
@media screen and (min-width: 481px) and (max-width: 640px){
	main>form>div{
		left: 5%;
	}
	article{
		flex-basis: 40%;
	}
}
@media screen and (min-width: 641px){
	article{
		flex-basis: 25%;
	}
	main>form>div{
		display: inline-block;
		position: relative;
		left: 9.5%;
	}
}
