/*Default: 320px a 480px*/

body{
	background: url(../img/fondoHotel.jpeg);
	background-size: cover;
	height: 100vh;
	display: flex;
}

.formUser-box{
	background-color: black;
	color:white;
	border:solid;
	border-color: #c42627;
	vertical-align: middle;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.formUser-box img{
	width: 20%;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	margin-top: -10%;
}

.formUser-box h1{
	text-align: center;
}

.formUser-box form{
	text-align: center;
	vertical-align: middle;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formUser-box input{
	width: 50%;
	margin-top: 1%;
}





/*Menu iconos: 481px a 640px*/
@media screen and (min-width: 481px) and (max-width: 640px){

}


/*Menu completo: 641px a infinito*/
@media screen and (min-width: 641px){

}
