main{
		display: -webkit-box;
		display: flex;
		-webkit-box-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		        align-items: center;
	}

	.contenedorLogin{
		background-color:  black;
		border: 5px solid indigo;
		width: 70%;
/*		height: 95%;*/
		display: -webkit-box;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
		-webkit-box-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		        align-items: center;
		flex-wrap: nowrap;
		min-height: -webkit-max-content;
		min-height: -moz-max-content;
		min-height: max-content;

	}

	.contenedorLogin>img{
		margin-top: 0.5em;
		width: 30%;
	}

	.contenedorLogin>h1{
		color: white;
		text-align: center;
		font-size: 1.5em;
	}

	.contenedorLogin>form>div{ 
		display: -webkit-box; 
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
		-webkit-box-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		        align-items: center;
	}

	.contenedorLogin>form>div>label{
		color: white;
		text-align: center;
	}

	.contenedorLogin>form>div>input{
		width: 85%;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}

	.contenedorLogin>form>a{
		margin-bottom: 0.5em;
		color: white;
	}


@media screen and (min-width: 481px) and (max-width: 640px){

	
}


@media screen and (min-width: 641px){
	.contenedorLogin{
		width: 20%;
/*		height: 95%;*/
	}

	.contenedorLogin>img{
		width: 25%;
	}
}