/*Default: 320px a 480px*/

.formUser{
	background: url(../img/fondoHotel.jpeg);
	background-size: cover;
	height: 100vh;
	display: flex;
}

.formUser-box{
	background: black;
	color: white;
	border:solid;
	border-color: #c42627;
	vertical-align: middle;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.formUser-box img{
	width: 25%;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	margin-top: -15%;
}

.formUser-box h1{
	vertical-align: middle;
	margin: auto;	
}

.formUser-box form{
	text-align: center;
	vertical-align: middle;
	margin: auto;
}

.formUser input{
	width: 80%;
}

.formUser-box  label{
	color: white;
	font-weight: bold;
	display: block;
	margin-top: 5%;
	margin-bottom: 2%;
}

.formUser-box div{
	background: #c42627;
	height: 4vh;
	position: relative;
	margin-bottom: 5%;
	border-radius: 10px;
	display: flex;
}

.formUser-box div p{
	margin: auto;
	text-align: center;
	color:white;
}

#File{
	background: blue;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
}






/*Menu iconos: 481px a 640px*/
@media screen and (min-width: 481px) and (max-width: 640px){

}


/*Menu completo: 641px a infinito*/
@media screen and (min-width: 641px){

}
