main{
	display: flex;
	justify-content: center;
	align-items: center;
}

.contenedorLogin{
	background-color:  black;
	border: 5px solid indigo;
	width: 30%;
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;

}

.contenedorLogin>img{
	width: 30%;
	margin-top: -1em;
}

.contenedorLogin>h1{
	color: white;
	text-align: center;
	font-size: 1.5em;
}

.contenedorLogin>form>div{ 
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contenedorLogin>form>div>label{
	color: white;
	text-align: center;
}

.contenedorLogin>form>div>input{
	width: 85%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

