/*Codigo color del logo -> c42627*/
html{
	scroll-behavior: smooth;
	margin: 0;
	height: 100%;
}
*{
	box-sizing: border-box;
}
/* ┌────────────────────────┐ */
/* │ Default: 320px a 480px │ */
/* └────────────────────────┘ */
body{
	background-color: pink;
	padding: 0;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 100%;
}
/* ┌───────────┐ */
/* │ amborgesa │ */
/* └───────────┘ */
nav{
	/* nav amborgesa escondido */
	font-family: sans-serif;
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	text-align: left;
	user-select: none;
}
nav {
	/* fijar arriba de la pantalla  */
	position: fixed;
	padding: 15px 20px 10px 10px;
	background: #746060;
}
/* TODO Edu(06/02/2020): Pregunta se puede medidas con px para tamaño movil */
header{
	background-color: violet;
	margin: 42px 10px 0 10px;
}
h1{
	/* TODO Edu(06/02/2020): Arreglar esto no tira del todo bien */
	position: fixed;
	top: -10px;
	left: 25%;
	z-index: 1;
}
h2{
	/* position: relative; */
	/* margin: 0 10px; */
	background-color: purple;
}
nav input {
	/* esconder el checkbox */
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: 10px;
	left: 7px;
	opacity: 0;
	z-index: 1;
}
nav div {
	/* hacer icono de 3 barras */
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
	background: #cdcdcd;
}
nav ul {
	/* lista escondida  */
	padding: 0;
	position: absolute;
	top: 36px;
	left: 0px;
	width: 300px;
	height: 800px;
	background: #ededed;
	list-style-type: none;
	transform: translate(-100%, 0);
	transition: transform 0.4s;
	/* transition-timing-function: ease-in-out; */
}
nav ul li {
	padding: 20px 50px;
	transition-duration: 0.2s;
}
nav ul li:hover{
	background-color: gainsboro;
}
nav ul li:nth-child(1){
	margin-top: 10px;
}
nav input:checked ~ ul {
	transform: none;
}
nav ul li a{
	/* font-size: 20px; */
	text-decoration: none;
	color: black;
}
/* TODO Edu(06/02/2020): contenido ajustable */
main{
	background-color: yellowgreen;
	flex: 1;
	justify-content: center;
}
main>h3{
	text-decoration: underline;
}
section{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 5px;
}
article{
	background-color: palegreen;
	margin: 5px;
	/* para que funcione el text ellipsis */
	min-width: 0;
	/* flex-basis: 100%; */
}
article>a{
	background-color: cyan;
}
article>a>img{
	/* TODO Edu(13/02/2020): que sea siempre cuadrado? */
	max-width: 70%;
	max-height: 70%;
	display: block;
	margin: 0 auto;
	transition-duration: 0.3s;
}

article>a>img:hover{
	transform: scale(1.1);
}

article>ul{
	/* display: inline-block; */
	list-style-type: none;
}
article>ul>li{
	display: inline-block;
	background-color: lightblue;
}
article>p{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

footer{
	/* font-family: 'Quicksand', sans-serif; */
	font-family: 'Fira Sans', sans-serif;
	background: indigo;
	color: white;
	width: 100%;
	font-size: 1em;
}
footer a{
	color: magenta;
	text-decoration: none;
}
footer div:nth-child(1) a{
	width: 100%;
	text-align: center;
	background: purple;
	line-height:40px ;
	display: block;
}
footer div:nth-child(1) a:hover{
	background: darkviolet;
	transition-duration: 0.3s;
}
footer ul{
	list-style: none;
}

/* ┌────────────────────────────┐ */
/* │ Menu iconos: 321px a 640px │ */
/* └────────────────────────────┘ */
@media screen and (min-width: 481px) and (max-width: 640px){
	body{
		background-color: gold;
	}
	header{
		margin: 0;
	}
	article{
		background-color: lime;
		flex-basis: 45%;
	}
}

/* ┌─────────────────────────────────┐ */
/* │ Menu completo: 641px a infinito │ */
/* └─────────────────────────────────┘ */
@media screen and (min-width: 641px){
	body{
		background: silver;
	}
	article{
		background-color: oliveDrab;
		flex-basis: 20%;
	}
	header{
		margin: 0;
	}
	/* reset del h1 */
	h1{
		position: static;
		/* font-size: 40px; */
	}
	/* TODO Edu(06/02/2020): No sé si esto tiene algo que ver con el flex */
	/* TODO Edu(07/02/2020): poner iconos */
	nav{
		/* TODO Edu(07/02/2020): Pregunta si se puede usar */
		all:unset;
		/* position: static; */
		font-family: sans-serif;
		background: chocolate;
		width: 100%;
		/* top: 0px; */
		/* left: 0px; */
	}
	nav div { all: unset; }
	nav ul{
		all:unset;
		/* position: static; */
		width: 100%;
		display: inline-block;
		list-style-type: none;
		text-align: center;
		/* transform: translate(0, 0); */
	}
	nav ul li{
		all: unset;
		display: inline-block;
		list-style-type: none;
		/* padding: 0px; */
		margin-left: 35px;
		/* position: relative; */
		/* background: peru; */
	}
	nav ul li a{
		text-decoration: none;
		color: black;
		font-size: 20px;
	}
	nav input{
		/* esconder checkbox para pantalla extendida */
		visibility: hidden;
		position: absolute;
	}
	nav ul li:after {
		/* animar barra nav */
		content: '';
		display:block;
		padding-bottom: 6px;
		border-bottom: solid 5px black;
		transform: scaleX(0);
		transition: transform 0.25s ease-in-out;
	}
	nav ul li:hover:after { 
		/* animar barra nav */
		transform: scaleX(1);
	}
}
form input[type=email],
form input[type=password],
form input[type=text]{
	/* background: blue; */
	border: 2px solid black;
	border-radius: 4px;
	padding: 5px;
	transition-duration: 0.3s;
}
form input[type=email]:hover,
form input[type=password]:hover,
form input[type=text]:hover{
	border-radius: 7px;
	border-color: #C0B3B3;
}
form input[type=email]:focus,
form input[type=password]:focus,
form input[type=text]:focus{
	background: #FEFFCF;
}

form input[type="submit"]{
	border: none;
	outline: none;
	background: #c42627;
	color:white;
	height: 3vh;
	margin-top: 5%;
	margin-bottom: 5%;
	border-radius: 20px;
}
