/*Codigo color del logo -> c42627*/

html{
	scroll-behavior: smooth;
}
head{
	/* TODO(03/02/2020): implementar diseño general */
}
body{
	padding: 0;
	font-family: sans-serif;
}
a:hover{
	color: white;
}

/*Esquema mediaquery*/

/*Default: 320px a 480px*/

/*Menu iconos: 321px a 640px*/
/*@media screen and (min-width: 481px) and (max-width: 640px){
	div{
		background: red;
		width: 100vw;
		height: 100vh;
	}
}
*/

/*Menu completo: 641px a infinito*/
/*@media screen and (min-width: 641px){
	div{
		background: green;
		width: 100vw;
		height: 100vh;
	}
}*/



div#contenido{
	font-family: sans-serif;
	font-size: large;
	text-align: center;
	font-weight: bold;
	padding: 20px 0px;
	/* height: 600px; */
	width: 100%;
	background-color: khaki;
	color: #fff;
}
#contenido p{
	/* padding-top: 300px; */
	line-height: 600px;
	background-color: yellowgreen;
}


body.formUser {
	padding: 0;
	margin: 0;
	background: url(../img/fondoHotel.jpeg);
	background-size: cover;
	height: 100vh; /*100% del alto del dispositivo*/
}

/*Div que va a almacenar todo en login.html*/
div.formUser-box{
	background: black;
	color: #fff;
	top: 60%;
	border: solid; 
	border-color: #c42627;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding:70px 30px;
}

div.formUser-registro{
	background: #000;
	color: #fff;
	top: 60%;
	border: solid; 
	border-color: #c42627;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding:70px 30px;
}

/*Imagen (logo) de login.html*/
body.formUser img{
	position: absolute;
	border-radius: 50%;
	width:120px;
	height: 120px;
	top:-60px;
	left:calc(50% - 60px);
}


body.formUser label{
	margin: 0;
	padding: 0;
	color: white;
	font-weight: bold;
	display: block;
}

body.formUser h1{
	margin: 0;
	font-size: 2em;
	padding: 0 0 20px;
	text-align: center;
}

body.formUser form{
	text-align: center;
}

/*Mirar esta movida*/
body.formUser input{
	width:80%;
	margin-bottom: 20px;
}

/*Elance para registrarse*/
body.formUser a{
	text-decoration: none;
	color:darkgrey;
}
body.formUser a:hover{
	color:white;
}
hgroup{
	font-family: 'Fira Sans', sans-serif;
	font-size:x-large;
}
nav ul{
	list-style: none;
}
nav{
	font-family: sans-serif;
	background: red;
	width: 100%;
	position: relative;
	top: 0px;
	left: 0px;
	text-align: left;
	user-select: none;
}
/* TODO Edu(04/02/2020): Contenido parte comun */
/* TODO Edu(04/02/2020): Footer parte  comun */

/* movil -> FORMATO VERTICAL */
@media screen and (max-width: 480px){
	body{
		background: brown;
	}
	header{
		top: 40px;
		position: relative;
	}

	body.formUser img{
		width: 25vw;
		height: 20vh;

	}

	nav {
		position: fixed;
		padding: 15px 20px 10px 10px;
		background: #746060;
	}
	nav input {
		display: block;
		width: 40px;
		height: 32px;
		position: absolute;
		top: 10px;
		left: 7px;
		opacity: 0;
		z-index: 1;
	}
	nav div {
		display: block;
		width: 33px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;
		background: #cdcdcd;
	}
	nav ul {
		position: absolute;
		top: 35px;
		left: 0px;
		width: 300px;
		height: 800px;
		background: #ededed;
		list-style-type: none;
		transform: translate(-100%, 0);
		transition: transform 0.4s;
		/* transition-timing-function: ease-in-out; */
	}
	nav ul li {
		padding: 10px 0;
	}
	nav input:checked ~ ul {
		transform: none;
	}
	nav ul li a{
		font-size: 22px;
		text-decoration: none;
		color: black;
	}
	/*Body del login si esta en movil*/
}
/* pc -> FORMATO HORIZONTAL */
@media screen and (min-width: 481px){
	body{
		background: silver;
	}
	/* esto es un poco la guarra */
	nav input{
		visibility: hidden;
		position: absolute;
	}
	
	header{
		display: inline-block;
	}
	.logo{
		display: block;
		height: 120px;
		width: 110px;
		background: blue;
	}
	/*Body del login si esta en pc*/
	div.formUser-box{
	padding: 0;
	margin: 0;
	width: 400px;
	height: 480px;
	}

	div.formUser-registro{
		padding: 0;
		margin: 0;
		width: 400px;
		height: 600px;
	}

	body.formUser h1{
	margin: 0;
	padding: 60px 0 20px;
	text-align: center;
	}

	body.formUser input[type="submit"]{
		padding: 15px;
	}
	nav{
		font-family: sans-serif;
		background: chocolate;
		width: 100%;
		/* TODO Edu(04/02/2020): Juntar nav con contenido de otra manera */
		top: 20px;
		/* left: 0px; */
		text-align: left;
	}
	nav ul{
		list-style: none;
		text-align: center;
	}
	nav ul li{
		display: inline-block;
		/* margin: 5px 8px; */
		margin-top: 8px;
		margin-left: 35px;
		position: relative;
		/* background: tomato; */
	}
	nav ul li a{
		text-decoration: none;
		color: black;
		font-size: larger;
		transition-duration: 0.1s;
	}
	nav ul li:after {
		display:block;
		padding-bottom: 6px;
		content: '';
		border-bottom: solid 5px black;
		transform: scaleX(0);
		transition: transform 0.25s ease-in-out;
	}
	nav ul li:hover:after { 
		transform: scaleX(1);
	}
	/* TODO Edu(04/02/2020): footer para movil y mirar como hacer para que esté siempre abajo del todo  */
	footer{
		/* font-family: 'Quicksand', sans-serif; */
		font-family: 'Fira Sans', sans-serif;
		background: indigo;
		color: white;
		width: 100%;
		height: 280px;
		font-size: 15pt;
	}
	footer a{
		color: magenta;
		text-decoration: none;
	}
	footer div:nth-child(1) a{
		width: 100%;
		text-align: center;
		background: purple;
		line-height:40px ;
		display: block;
	}
	footer div:nth-child(1) a:hover{
		background: darkviolet;
		transition-duration: 0.3s;
	}
	footer ul{
		list-style: none;
	}
	footer ul li{
		/* display: inline-block; */
	}
}

form input[type=password],
form input[type=text]{
	/* background: blue; */
	border: 2px solid black;
	border-radius: 4px;
	padding: 5px;
	transition-duration: 0.3s;
}
form input[type=password]:hover,
form input[type=text]:hover{
	border-radius: 7px;
	border-color: #C0B3B3;
}
form input[type=password]:focus,
form input[type=text]:focus{
	background: #FEFFCF;
}

form input[type="submit"]{
	border: none;
	outline: none;
	background: #c42627;
	color:white;
	border-radius: 20px;
}
