head{
	/* TODO(03/02/2020): implementar diseño general */
}
div#contenido{
	font-family: sans-serif;
	font-size: large;
	text-align: center;
	font-weight: bold;
	padding: 30px;
	height: 180px;
	width: 90%;
	background-color: blue;
	color: #fff;
}
body.loginBody{
	padding: 0;
	margin: 0;
	/*estilos para tablets*/
	/*estilos para smartphones*/
}
/* movil -> FORMATO VERTICAL */
@media screen and (max-width: 480px){
	body{
		background: brown;
	}
}
/* pc -> FORMATO HORIZONTAL */
@media screen and (min-width: 480px){
	body{
		background: grey;
	}
	nav{
		font-family: sans-serif;
		background: red;
		width: 100%;
		position: relative;
		top: 0px;
		left: 0px;
		text-align: left;
	}
	nav ul{
		list-style: none;
	}
	nav ul li{
		display: inline-block;
		margin: 8px;
		padding: 5px;
		position: relative;
		border-radius: 4px;
	}
	/* ejemplo de como seleccionar con css elemento lista por numero */
	nav ul li:nth-child(3) a{
		color: yellow;
		/* background-color: gray; */
	}
	nav ul li:before{
		content: '';
		position: absolute;
		border: 4px solid grey;
		top: -16px;
		bottom: -16px;
		left: -16px;
		right: -16px;
		opacity: 0;
		transition-duration: 0.2s;
		border-radius: 4px;
	}
	nav ul li:hover:before{
		top: -8px;
		bottom: -8px;
		left: -8px;
		right: -8px;
		opacity: 1;
	}
	nav ul li a{
		text-decoration: none;
		color: black;
		/* TODO(03/02/2020): comprobar que tal va con google fonts */
		font-size: larger;
	}
}

form input[type=text]{
	/* background: blue; */
	border: 2px solid black;
	border-radius: 4px;
	padding: 5px;
	transition-duration: 0.3s;
}
form input[type=text]:hover{
	border-radius: 7px;
	border-color: #C0B3B3;
}
form input[type=text]:focus{
	background: #FEFFCF;
}
