head{
	/* TODO(03/02/2020): implementar diseño general */
}
body{
  padding: 0;
  font-family: sans-serif;
}

div#contenido{
	font-family: sans-serif;
	font-size: large;
	text-align: center;
	font-weight: bold;
	padding: 30px;
	height: 180px;
	width: 90%;
	background-color: blue;
	color: #fff;
}


/*Body de login.html*/
body.loginBody{
	padding: 0;
	margin: 0;
	/*background: url(../img/patron.png) no-repeat center top;*/
	background-size: cover;
	height: 100vh; /*100% del alto del dispositivo*/

}

/*Div que va a almacenar todo en login.html*/
div.login-box{
	background: #000;
	color: #fff;
	top: 50%;
	border: solid; 
	border-color: blue;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding:70px 30px;
}

/*Imagen (logo) de login.html*/
body.loginBody img{
	position: absolute;
	border-radius: 50%;
	width:100px;
	height: 100px;
	top:-50px;
	left:calc(50% - 50px);
}



body.loginBody label{
	margin: 0;
	padding: 0;
	color: white;
	font-weight: bold;
	display: block;
}

body.loginBody h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
}

body.loginBody form{
	text-align: center;
}

/*Mirar esta movida*/
body.loginBody input{
	width:80%;
	margin-bottom: 20px;
}

/*Elance para registrarse*/
body.loginBody a{
	text-decoration: none;
	color:darkgrey;
}
body.loginBody a:hover{
	color:white;
}
nav ul{
	list-style: none;
}
nav{
	font-family: sans-serif;
	background: red;
	width: 100%;
	position: relative;
	top: 0px;
	left: 0px;
	text-align: left;
	user-select: none;
}
/* movil -> FORMATO VERTICAL */
@media screen and (max-width: 480px){
	body{
		background: brown;
	}
	header{
		top: 40px;
		position: relative;
	}
	nav {
		position: fixed;
		padding: 15px 20px 10px 10px;
		background: #746060;
	}
	nav input {
		display: block;
		width: 40px;
		height: 32px;
		position: absolute;
		top: 10px;
		left: 7px;
		opacity: 0;
		z-index: 1;
	}
	nav div {
		display: block;
		width: 33px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;
		background: #cdcdcd;
	}
	nav ul {
		position: absolute;
		top: 35px;
		left: 0px;
		width: 300px;
		height: 800px;
		background: #ededed;
		list-style-type: none;
		transform: translate(-100%, 0);
		transition: transform 0.4s;
		/* transition-timing-function: ease-in-out; */
	}
	nav ul li {
		padding: 10px 0;
	}
	nav input:checked ~ ul {
		transform: none;
	}
	nav ul li a{
		font-size: 22px;
		text-decoration: none;
		color: black;
		/* TODO(03/02/2020): comprobar que tal va con google fonts */
	}
	/*Body del login si esta en movil*/
}
/* pc -> FORMATO HORIZONTAL */
@media screen and (min-width: 481px){
	body{
		background: grey;
	}
	/* esto es un poco la guarra */
	nav input{
		visibility: hidden;
		position: absolute;
	}
	
	.logo{
		height: 120px;
		width: 110px;
		position: relative;
		top: 0px;
		left: 0px;
		background: blue;
	}
	/*Body del login si esta en pc*/
	div.login-box{
	padding: 0;
	margin: 0;
	width: 400px;
	height: 480px;
	}

	body.loginBody h1{
	margin: 0;
	padding: 60px 0 20px;
	text-align: center;
	}

	body.loginBody input[type="submit"]{
		padding: 15px;
	}
	nav{
		font-family: sans-serif;
		background: red;
		width: 100%;
		position: relative;
		top: 0px;
		left: 0px;
		text-align: left;
	}
	nav ul{
		list-style: none;
	}
	nav ul li{
		display: inline-block;
		/* margin: 5px 8px; */
		margin-top: 8px;
		margin-left: 10px;
		position: relative;
		/* background: tomato; */
	}
	nav ul li a{
		text-decoration: none;
		color: black;
		/* TODO(03/02/2020): comprobar que tal va con google fonts */
		font-size: larger;
		transition-duration: 0.1s;
	}
	nav ul li:after {
		display:block;
		padding-bottom: 6px;
		content: '';
		border-bottom: solid 5px black;
		transform: scaleX(0);
		transition: transform 0.25s ease-in-out;
	}
	nav ul li:hover:after { 
		transform: scaleX(1);
	}
	/* ejemplo de como seleccionar con css elemento lista por numero */
	/* nav ul li:nth-child(3) a{ */
	/* 	color: yellow; */
	/* } */
}
form input[type=text]{
	/* background: blue; */
	border: 2px solid black;
	border-radius: 4px;
	padding: 5px;
	transition-duration: 0.3s;
}
form input[type=text]:hover{
	border-radius: 7px;
	border-color: #C0B3B3;
}
form input[type=text]:focus{
	background: #FEFFCF;
}

form input[type="submit"]{
	border: none;
	outline: none;
	background: red;
	color:white;
	border-radius: 20px;
}
