/*Codigo color del logo -> c42627*/
html{
	scroll-behavior: smooth;
	margin: 0;
	height: 100%;
}
*{
	box-sizing: border-box;
}
/* ┌────────────────────────┐ */
/* │ Default: 320px a 480px │ */
/* └────────────────────────┘ */
body{
	background-color: pink;
	padding: 0;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 100%;
}
main a,
footer a{
	/* text-decoration: none; */
	transition-duration: 0.2s;
}
main a:hover,
footer a:hover{
	color: cornflowerblue;
	text-decoration: underline;
}
/* ┌───────────┐ */
/* │ amborgesa │ */
/* └───────────┘ */
nav{
	/* nav amborgesa escondido */
	font-family: sans-serif;
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	text-align: left;
	user-select: none;
}
nav {
	/* fijar arriba de la pantalla  */
	position: fixed;
	padding: 15px 20px 10px 10px;
	/* background: #746060; */
	z-index: 1;
}
header{
	position: relative;
}
header:before{
	content: "";
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-image: url("../img/junk-shop-1561897_1920.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/* -moz-filter: blur(50px); */
	/* TODO Edu(16/02/2020): arreglar el blur raro */
	filter: blur(1.5px);
	/* transform: scale(1.1); */
}
header>div{
	height: 250px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
header>div>div{
	background-color: rgba(1,0,0,.5);
	padding: 5px 6px;
	border-radius: 10px;
}
header>div>div>img{
	float: left;
	width: 100px;
	height: 100px;
}
header>div>div>hgroup{
	/* un poco feo pero bueno */
	/* background-color: blue; */
}
header>div>div>hgroup>h1{
	position: static;
	margin-top: 40px;
	margin-left: 120px;
	color: white;
	font-size: 32px;
}
header>div>div>hgroup>h2{
	color: #FFD8FD;
	margin-left: 20px;
	font-style: italic;
	font-size: 15px;
	margin-top: 40px;
}

nav input {
	/* esconder el checkbox */
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: 8px;
	left: 3px;
	opacity: 0;
	z-index: 2;
}
nav div {
	/* hacer icono de 3 barras */
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	border-radius: 3px;
	position: relative;
	background: #FCF1F1;
	z-index:1;
	transition-duration: 0.4s;
}
nav ul {
	/* lista escondida  */
	padding: 0;
	padding-top: 40px;
	position: absolute;
	top: -20px;
	left: 0px;
	width: 300px;
	height: 800px;
	/* background: #ededed; */
	background-color: rgba(248,241,241,0.95);
	list-style-type: none;
	transform: translate(-100%, 0);
	transition: transform 0.4s;
	/* transition-timing-function: ease-in-out; */
}
nav ul li {
	padding: 20px 50px;
	transition-duration: 0.2s;
}
nav ul li:hover{
	background-color: gainsboro;
}
nav ul li:nth-child(1){
	margin-top: 10px;
}
nav input:checked ~ ul {
	transform: none;
}
nav input:checked ~ div{
	background-color: black;
}
nav ul li a{
	/* font-size: 20px; */
	text-decoration: none;
	color: black;
}
main{
	/* background-color: #D89CF6; */
	background-color: mediumslateblue ;
	flex: 1;
	justify-content: center;
	padding-bottom: 20px;
}
footer{
	/* font-family: 'Quicksand', sans-serif; */
	font-family: 'Fira Sans', sans-serif;
	background: indigo;
	color: white;
	width: 100%;
	font-size: 1.1em;
}
footer a{
	color: magenta;
	text-decoration: none;
}
footer div:nth-child(1) a{
	width: 100%;
	text-align: center;
	background: purple;
	line-height:40px ;
	display: block;
}
footer div:nth-child(1) a:hover{
	background: darkviolet;
	transition-duration: 0.3s;
}
footer ul{
	list-style: none;
	padding: 0 20px;
}
footer>address{
	/* text-align: center; */
	margin: 0 15px 10px;
	font-size: 0.8em;
}
/* ┌──────────────────────┐ */
/* │ barra nav horizontal │ */
/* └──────────────────────┘ */
@media screen and (min-width: 481px){
	nav{
		/* TODO Edu(07/02/2020): Pregunta si se puede usar */
		all:unset;
		/* position: static; */
		font-family: sans-serif;
		background: mediumorchid;
		/* background-color: mediumpurple ; */
		width: 100%;
		/* top: 0px; */
		/* left: 0px; */
	}
	nav div { all: unset; }
	nav ul{
		all:unset;
		width: 100%;
		height: 39px;
		display: inline-block;
		list-style-type: none;
		text-align: center;
		/* transform: translate(0, 0); */
	}
	nav ul li{
		all: unset;
		display: inline-block;
		list-style-type: none;
		margin-left: 2%;
		/* position: relative; */
		background: peru;
		height: 0;
	}
	nav ul li:hover{
		background-color: mediumorchid;
	}
	nav ul li a{
		text-decoration: none;
		color: black;
		font-size: 0.95em;
		/* background-color: blue; */
		padding: 10px 0;
	}
	nav input{
		/* esconder checkbox para pantalla extendida */
		visibility: hidden;
		position: absolute;
	}
	nav ul li:after {
		/* animar barra nav */
		content: '';
		display:block;
		padding-bottom: 6px;
		border-bottom: solid 5px black;
		transform: scaleX(0);
		transition: transform 0.25s ease-in-out;
	}
	nav ul li:hover:after { 
		/* animar barra nav */
		transform: scaleX(1);
	}
	/* busqueda rapida  */
	/* main>form>div{ */
	/* 	text-align: left; */
	/* } */
	footer ul{
		list-style: none;
		text-align: center;
		padding: 0 20px;
	}
	footer>ul>li{
		display: inline-block;
		margin: 0 15px ;
	}
	footer>address{
		text-align: center;
		margin: 0 15px 10px;
	}
}

/* ┌────────────────────────────┐ */
/* │ Menu iconos: 321px a 640px │ */
/* └────────────────────────────┘ */
@media screen and (min-width: 481px) and (max-width: 640px){
	body{
		background-color: gold;
	}
	header{
		margin: 0;
	}
	nav li a span:nth-child(2){
		font-size: 0;
	}
	nav li a span:nth-child(1){
		font-size: 1.3em;
	}
}

/* ┌─────────────────────────────────┐ */
/* │ Menu completo: 641px a infinito │ */
/* └─────────────────────────────────┘ */
@media screen and (min-width: 641px){
	body{
		background: silver;
	}
	/* header escritorio */
	header>div>div{
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 5px 25px;
		border-radius: 15px;
		margin: 5%;
	}
	header>div>div>img{
		width: 130px;
		height: 130px;
	}
	header>div>div>hgroup{
		display: flex;
		flex-direction: column;
	}
	header>div>div>hgroup>h1{
		margin-left: 20px;
		font-size: 45px;
	}
	header>div>div>hgroup>h2{
		margin-left: 20px;
		font-size: 25px;
		margin-top: -20px;
		/* TODO Edu(21/02/2020): corregir break? */
	}
}

form input[type=email],
form input[type=password],
form input[type=text],
form input[type=number]{
	border: 2px solid black;
	border-radius: 4px;
	padding: 5px;
	transition-duration: 0.3s;
}
form input[type=email]:hover,
form input[type=password]:hover,
form input[type=text]:hover,
form input[type=number]:hover{
	background: mistyrose;
}
form input[type=email]:focus,
form input[type=password]:focus,
form input[type=text]:focus,
form input[type=number]:focus{
	background: lightblue;
}

form input[type="submit"]{
	border: none;
	outline: none;
	background: indigo;
	color:white;
	padding: 5px 15px;
	font-size: 0.8em;
	border-radius: 20px;
}
