/*Codigo color del logo -> c42627*/

html{
	scroll-behavior: smooth;
}
head{
	/* TODO(03/02/2020): implementar diseño general */
}
body{
	padding: 0;
	font-family: sans-serif;
}
/* TODO Edu(04/02/2020): Contenido parte comun */
/* TODO Edu(04/02/2020): Footer parte  comun */

/*Default: 320px a 480px*/
/* amborgesa */
nav{
	/* nav amborgesa escondido */
	font-family: sans-serif;
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	text-align: left;
	user-select: none;
}
nav {
	/* fijar arriba de la pantalla  */
	position: fixed;
	padding: 15px 20px 10px 10px;
	background: #746060;
}
nav input {
	/* esconder el checkbox */
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: 10px;
	left: 7px;
	opacity: 0;
	z-index: 1;
}
nav div {
	/* hacer icono de 3 barras */
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
	background: #cdcdcd;
}
nav ul {
	/* lista escondida  */
	position: absolute;
	top: 35px;
	left: 0px;
	width: 300px;
	height: 800px;
	background: #ededed;
	list-style-type: none;
	transform: translate(-100%, 0);
	transition: transform 0.4s;
	/* transition-timing-function: ease-in-out; */
}
nav ul li {
	padding: 10px 0;
}
nav input:checked ~ ul {
	transform: none;
}
nav ul li a{
	font-size: 22px;
	text-decoration: none;
	color: black;
}
/*Menu iconos: 321px a 640px*/
@media screen and (min-width: 481px) and (max-width: 640px){
	div{
		background: red;
		width: 100vw;
		height: 100vh;
	}
}

/*Menu completo: 641px a infinito*/
@media screen and (min-width: 641px){
	body{
		background: silver;
	}
	a:hover{
		color: white;
	}
	/* esto es un poco la guarra */
	header{
		display: inline-block;
	}
	/* amborgesa */
	nav{
		/* nav amborgesa escondido */
		font-family: sans-serif;
		position: relative;
		top: 0px;
		left: 0px;
		width: 100%;
		text-align: left;
		user-select: none;
		padding: 0px;
	}
	nav div {
		/* hacer icono de 3 barras */
		visibility: hidden;
	}
	nav ul {
		/* lista escondida  */
		position: relative;
		top: -45px;
		left: 0px;
		width: 100%;
		height: 0px;
		background: #ededed;
		list-style-type: none;
		transform: translate(0,0);
		/* transition-timing-function: ease-in-out; */
	}
	nav ul li {
		padding: 10px 0;
	}
	nav input:checked ~ ul {
		transform: none;
	}
	nav ul li a{
		font-size: 22px;
		text-decoration: none;
		color: black;
	}
	/* ------------ */
	nav ul{
		list-style: none;
	}
	nav input{
		/* esconder checkbox para pantalla extendida */
		visibility: hidden;
		position: absolute;
	}
	nav ul li:after {
		/* animar barra nav */
		display:block;
		/* padding-bottom: 6px; */
		content: '';
		border-bottom: solid 5px black;
		transform: scaleX(0);
		transition: transform 0.25s ease-in-out;
	}
	nav ul li:hover:after { 
		/* animar barra nav */
		transform: scaleX(1);
	}
	nav ul{
		list-style: none;
		text-align: center;
	}
	nav{
		font-family: sans-serif;
		background: chocolate;
		width: 100%;
		/* TODO Edu(04/02/2020): Juntar nav con contenido de otra manera */
		top: 0px;
		/* left: 0px; */
		text-align: left;
	}
	nav ul li{
		display: inline-block;
		/* margin-top: 8px; */
		margin-left: 35px;
		position: relative;
		background: tomato;
	}
	div#contenido{
		font-family: sans-serif;
		font-size: large;
		text-align: center;
		font-weight: bold;
		padding: 20px 0px;
		/* height: 600px; */
		width: 100%;
		background-color: khaki;
		color: #fff;
	}
	#contenido p{
		/* padding-top: 300px; */
		/* TODO Edu(05/02/2020): cambiar para que se aplique al contenido */
		line-height: 600px;
		background-color: yellowgreen;
}
	/* TODO Edu(04/02/2020): footer para movil y mirar como hacer para que esté siempre abajo del todo  */
	footer{
		/* font-family: 'Quicksand', sans-serif; */
		font-family: 'Fira Sans', sans-serif;
		background: indigo;
		color: white;
		width: 100%;
		height: 280px;
		font-size: 15pt;
	}
	footer a{
		color: magenta;
		text-decoration: none;
	}
	footer div:nth-child(1) a{
		width: 100%;
		text-align: center;
		background: purple;
		line-height:40px ;
		display: block;
	}
	footer div:nth-child(1) a:hover{
		background: darkviolet;
		transition-duration: 0.3s;
	}
	footer ul{
		list-style: none;
	}
	footer ul li{
		/* display: inline-block; */
	}
}

/* movil -> FORMATO VERTICAL */
@media screen and (max-width: 480px){
	body{
		background: brown;
	}
	header{
		top: 40px;
		position: relative;
	}

}

form input[type=password],
form input[type=text]{
	/* background: blue; */
	border: 2px solid black;
	border-radius: 4px;
	padding: 5px;
	transition-duration: 0.3s;
}
form input[type=password]:hover,
form input[type=text]:hover{
	border-radius: 7px;
	border-color: #C0B3B3;
}
form input[type=password]:focus,
form input[type=text]:focus{
	background: #FEFFCF;
}

form input[type="submit"]{
	border: none;
	outline: none;
	background: #c42627;
	color:white;
	border-radius: 20px;
}
