/*Default: 320px a 480px*/
/*  */
/* main{ */
/* 	display: flex; */
/* 	justify-content: center; */
/* 	align-items: center; */
/* } */
/*  */
/* main>div{ */
/* 	width: 85%; */
/* 	background-color:black; */
/* 	display: flex; */
/* 	border: 5px solid indigo; */
/* } */
/*  */
/* main>div>div>div>label{ */
/* 	transition-duration: 0.2s; */
/* 	filter: contrast(100%); */
/* } */
/* main>div>div>div>label:hover{ */
/* 	filter: contrast(150%); */
/* } */
/*  */
/* main>div>form{ */
/* 	width: 50%; */
/* 	display: flex; */
/* 	flex-direction: column; */
/* 	justify-content: flex-start; */
/* 	align-items: center; */
/* 	background-color: red; */
/* } */
/*  */
/*  */
/* main>div>form>label{ */
/* 	text-align: center; */
/* 	color:white;	 */
/* } */
/*  */
/* main>div>form>input{ */
/* 	width: 75%;	 */
/* 	margin-top: 0.4em; */
/* 	margin-bottom: 0.4em; */
/* } */
/*  */
/* main>div>form>h3{ */
/* 	color: white; */
/* 	font-size: 0.9em; */
/* } */
/*  */
/* main>div>form>input[type="submit"]{ */
/* 	margin-bottom: 1em; */
/* 	margin-top: 2em; */
/* } */
/*  */
/* main>div>div{ */
/* 	width: 50%; */
/* 	display: flex; */
/* 	flex-direction: column; */
/* 	justify-content: space-between; */
/* } */
/*  */
/* main>div>div>div:first-child{ */
/* 	width: 100%; */
/* 	display: flex; */
/* 	flex-grow: 3; */
/* 	flex-direction: column; */
/* 	justify-content: flex-start; */
/* 	align-items: center; */
/* 	min-height: -moz-max-content; */
/* 	min-height: max-content; */
/* } */
/*  */
/* main>div>div>div:first-child>label:last-child{ */
/* 	color: white; */
/* 	text-align: center; */
/* 	background: indigo;  */
/* 	margin-top: 0.8em; */
/* 	font-weight: bold; */
/* 	border: 0.2em solid indigo;   */
/* } */
/*  */
/* main>div>div>div:first-child>label:nth-child(2){ */
/* 	text-align: center;  */
/* } */
/*  */
/*  */
/* main>div>div>div:first-child>label:nth-child(3){ */
/* 	color: white; */
/* 	text-align: center; */
/* 	background: indigo;  */
/* 	margin-top: 0.8em; */
/* 	font-weight: bold; */
/* 	border: 0.2em solid indigo;   */
/* } */
/*  */
/* main>div>div>div:first-child>h3{ */
/* 	color: white; */
/* 	font-size: 0.9em; */
/* } */
/*  */
/*  */
/* main>div>div>div:last-child{ */
/* 	display: flex; */
/* 	flex-direction: column; */
/* 	flex-grow: 1; */
/* 	justify-content: center; */
/* 	align-items: center;  */
/* } */
/*  */
/* main>div>div>div:last-child>img{ */
/* 	margin-top: 0.5em; */
/* 	max-width: 50%; */
/* 	margin-bottom: 0.3em; */
/* } */
/*  */
/* #fotoobjeto{ */
/* 	width: 60% */
/* 	;	background: indigo; */
/* 	border: 3px solid white; */
/* } */
/*  */
/* #foto{ */
/* 	display: none; */
/* } */
main>form{
	font-size: 1.1em;
	justify-content: center;
	display: grid;
	grid-gap: 7px;
	grid-template-columns: auto 250px;
	align-items: center;
	text-align: left;
}
main>div:nth-child(2)>h3,
main>form>h3{
	/* grid-column-start: 1; */
	/* grid-column-end: span 2; */
	/* lo mismo que lo de arriba */
	grid-column: 1 / span 2;
	margin-bottom: 5px;
	text-align: center;
	text-decoration: underline;
}
main>form>label{
	grid-column: 1;
}
main>form>input{
	/* grid-column: 2; */
}

main>div:nth-child(2){
	display: grid;
	grid-gap: 7px;
	align-items: center;
	grid-template-columns: auto auto auto;
	justify-content: center;
}
main>div>label:nth-child(2){
	background-color: red;
	/* margin: 30px; */
	grid-column: 1 / span 3;
}
main>div>label:nth-child(3),
main>div>label:nth-child(5){
	/* background-color: lime; */
	/* grid-column-start: 2; */
}
main>div>input{
	/* grid-column: 1; */
	/* background-color: blue; */
}

.modal{
	display: none;
	position: fixed;
	z-index: 1;
	overflow: auto;
	left:0%;
	top:0%;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.596);
}

@keyframes modal{
	from{top: -330px; opacity: 0;}
	to{top:0px;opacity: 1;}
}

.contenido-modal{
	position: relative;
	background-color: white;
	margin: auto;
	width: 40%;
	margin-top: 10em;
	animation-name: modal;
	animation-duration: 1s;
	border: 2px solid black;
}

.contenido-modal>div:first-child{
	background-color: indigo;
	padding: 0.5px;
}

.contenido-modal>div:first-child>p{
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	padding: 8px;
}

.contenido-modal>div:last-child{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contenido-modal>div:last-child>p{
	color:black;
	font-weight: bold;
	text-align: center;
}

.contenido-modal>div:last-child>button{
	border: none;
	outline: none;
	background: indigo;
	color:white;
	padding: 5px 15px;
	font-size: 0.8em;
	border-radius: 20px;
	margin-bottom: 0.5em;
}

/*Menu iconos: 321px a 640px*/
@media screen and (min-width: 481px) and (max-width: 640px){
	main>div>div>div:last-child>img{
		max-width: 30%;
	}
}


/*Menu completo: 641px a infinito*/
@media screen and (min-width: 641px){
	/* main>div{ */
	/* 	width: 40%; */
	/* } */
    /*  */
	/* main>div>div>div:last-child>img{ */
	/* 	max-width: 25%; */
	/* } */

	#fotoobjeto{
		width: 40%;
	}

	.contenido-modal{
		width: 20%;
	}
}
