/*Default: 320px a 480px*/

main{
	display: flex;
	justify-content: center;
	align-items: center;
}

main>div{
	width: 85%;
	background-color:black;
	display: flex;
	flex-direction: row;
	border: 5px solid indigo;
}



main>div>form{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	min-height: max-content;

}


main>div>form>label{
	text-align: center;
	color:white;	
}

main>div>form>input{
	width: 75%;	
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

main>div>form>h3{
	color: white;
	font-size: 0.9em;
}

main>div>form>input[type="submit"]{
	margin-bottom: 1em;
	margin-top: 2em;
}


main>div>div{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

main>div>div>div:first-child{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	min-height: max-content;
}


main>div>div>div:first-child>label:last-child{
	color: white;
	text-align: center;
	background: indigo; 
	margin-top: 0.8em;
	font-weight: bold;
	border: 0.2em solid indigo;  
}

main>div>div>div:first-child>label:nth-child(2){
	text-align: center; 
}


main>div>div>div:first-child>label:nth-child(3){
	color: white;
	text-align: center;
	background: indigo; 
	margin-top: 0.8em;
	font-weight: bold;
	border: 0.2em solid indigo;  
}

main>div>div>div:first-child>h3{
	color: white;
	font-size: 0.9em;
}


main>div>div>div:last-child{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
}

main>div>div>div:last-child>img{
	margin-top: 0.5em;
	max-width: 50%;
	margin-bottom: 0.3em;
}


#fotoobjeto{
	width: 60%
;	background: indigo;
	border: 3px solid white;
}

#foto{
	display: none;
}

/*Menu iconos: 321px a 640px*/
@media screen and (min-width: 481px) and (max-width: 640px){
	main>div>div>div:last-child>img{
	max-width: 30%;
	}
}


/*Menu completo: 641px a infinito*/
@media screen and (min-width: 641px){
	main>div{
		width: 40%;
	}

	main>div>div>div:last-child>img{
	max-width: 25%;
	}

	#fotoobjeto{
	width: 40%;
}
}
