main>form{
	font-size: 1.1em;
	justify-content: center;
	display: grid;
	grid-gap: 7px;
	grid-template-columns: auto 250px;
	align-items: center;
	text-align: left;
}
main>div:nth-child(2)>h3,
main>form>h3{
	grid-column: 1  /span 2;
	margin-bottom: 5px;
	text-align: center;
	text-decoration: underline;
}
main>form>label{
	grid-column: 1;
}



main>div:nth-child(2){
	display: grid;

	grid-gap: 7px;
	align-items: center;
	grid-template-columns: auto auto auto;
	justify-content: center;
}

main>div:nth-child(2)>h3{
	grid-column: 1 / span 3;
}



main>div>div{

	grid-column: 1 / span 3;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}


main>div>div>div{
	background-color: indigo;
	display: grid;
	margin: 0.4em;
	grid-template-columns: auto auto;
	align-items: center;
	border: 1px solid black;
}



main>div>div>div>label>img{
	border: 1px solid black;
	float: left;
	max-width: 300px;
	max-height: 300px;
}

main>div>div>div>label:nth-child(1){
	grid-column: 1 / span 2;
}

main>div>div>div>label:nth-child(2){
	grid-column: 1;
	margin-left: 0.5em;
}


main>div>div>div>label:nth-child(3){
	grid-column: 2;
	text-align: right;
	margin-right: 0.5em;
	color: white;

}

main>div>label:nth-child(3){
	background-color: indigo;
	border-radius: 5px;
	color: white;
	transition-duration: .2s;
	padding: 3px;
	grid-column: 2;

}

main>div>label:nth-child(3):hover{
	background-color: purple;
}



main>div>div>div>input{
	display: none;
}


.modal,.modal2{
	display: block;
	position: fixed;
	z-index: 1;
	overflow: auto;
	left:0%;
	top:0%;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.596);
	
}

@keyframes modal{
	from{top: -330px; opacity: 0;}
	to{top:0px;opacity: 1;}
}

.contenido-modal,.contenido-modal2{
	position: relative;
	background-color: white;
	margin: auto;
	width: 40%;
	margin-top: 10em;
	animation-name: modal;
	animation-duration: 1s;
	border: 2px solid black;
}

.contenido-modal>div:first-child,
.contenido-modal2>div:first-child{
	background-color: indigo;
	padding: 0.5px;
}

.contenido-modal>div:first-child>p,
.contenido-modal2>div:first-child>p{
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	padding: 8px;
}

.contenido-modal>div:last-child,
.contenido-modal2>div:last-child{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contenido-modal>div:last-child>p,
.contenido-modal2>div:last-child>p{
	color: black;
	font-weight: bold;
	text-align: center;
}

.contenido-modal>div:last-child>button,
.contenido-modal2>div:last-child>button{
	border: none;
	outline: none;
	background: indigo;
	color:white;
	padding: 5px 15px;
	font-size: 0.8em;
	border-radius: 20px;
	margin-bottom: 0.5em;
}

/*Menu iconos: 321px a 640px*/
@media screen and (min-width: 481px) and (max-width: 640px){
}


/*Menu completo: 641px a infinito*/
@media screen and (min-width: 641px){
	main>div>label:nth-child(2)>img{
	}

	main>form{
		justify-content: center;
		grid-template-columns: auto 30%;
	}
	.contenido-modal,
	.contenido-modal2{
		width: 20%;
	}
}
