main{
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	        align-items: center;
}

.contenedorRegister{
	background-color: black;
	border: 5px solid indigo;
	width: 90%;
	height: 70%;
	min-height: -webkit-max-content;
	min-height: -moz-max-content;
	min-height: max-content;
}

.contenedorRegister>form{
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	-webkit-box-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	        align-items: center;
	flex-wrap: wrap;
	min-height: -webkit-max-content;
	min-height: -moz-max-content;
	min-height: max-content;
}

.contenedorRegister>img{
	display: none;
}

.contenedorRegister>form>div>input[type="submit"]{
	margin-top: 10%;
	margin-bottom: 2%;
}

.contenedorRegister>form>h1{
	color: white;
	font-size: 1.5em;
		
}



.contenedorRegister>form>input{
	width: 50%;
	margin-bottom: 0.3em;
}

.contenedorRegister>form>label{
	color: white;
	text-align: center;
	margin-bottom: 0.3em;
}

.contenedorRegister>form>div{
	width: 30%;
	height: 100%;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	-webkit-box-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	        align-items: center;
}

.contenedorRegister>form>div>label:first-child{
	color: white;
	text-align: center;
	margin-bottom: 10%;
}

#foto{
	display: none;
}
#fotouser{
	width: 29.9vw;
	background-color:indigo;
	border: 5px solid white;  
}




@media screen and (min-width: 481px) and (max-width: 640px){

}


@media screen and (min-width: 641px){
	.contenedorRegister{
		width: 40%;
		height: 70%;
	}

	#fotouser{
		width: 100%;
	}

	.contenedorRegister>form>input{
	width: 30%;
	margin-bottom: 0.3em;
	}
}