main{
		display: -webkit-box;
		display: flex;
		-webkit-box-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		        align-items: center;
	}

	.contenedorLogin{
		background-color:  black;
		border: 5px solid indigo;
		width: 70%;
/*		height: 95%;*/
		display: -webkit-box;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
		-webkit-box-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		        align-items: center;
		flex-wrap: nowrap;
		min-height: -webkit-max-content;
		min-height: -moz-max-content;
		min-height: max-content;

	}

	.contenedorLogin>img{
		margin-top: 0.5em;
		width: 30%;
	}

	.contenedorLogin>h1{
		color: white;
		text-align: center;
		font-size: 1.5em;
	}

	.contenedorLogin>form>div{ 
		display: -webkit-box; 
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
		-webkit-box-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		        align-items: center;
	}

	.contenedorLogin>form>div>label{
		color: white;
		text-align: center;
	}

	.contenedorLogin>form>div>input{
		width: 85%;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}

	.contenedorLogin>form>a{
		margin-bottom: 0.5em;
		color: white;
	}

	.modal{
		display: block;
		position: fixed;
		z-index: 1;
		overflow: auto;
		left:0%;
		top:0%;
		height: 100%;
		width: 100%;
		background: rgba(0,0,0,0.596);
		
	}

	@keyframes modal{
		from{top: -330px; opacity: 0;}
		to{top:0px;opacity: 1;}
	}

	.contenido-modal{
		position: relative;
		background-color: white;
		margin: auto;
		width: 40%;
		margin-top: 10em;
		animation-name: modal;
		animation-duration: 1s;
		border: 2px solid black;
	}

	.contenido-modal>div:first-child{
		background-color: indigo;
		padding: 0.5px;
	}

	.contenido-modal>div:first-child>p{
		color: white;
		text-align: center;
		font-weight: bold;
		font-size: 1.5em;
		padding: 8px;
	}

	.contenido-modal>div:last-child{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.contenido-modal>div:last-child>p{
		color:black;
		font-weight: bold;
		text-align: center;
	}

	.contenido-modal>div:last-child>button{
		border: none;
		outline: none;
		background: indigo;
		color:white;
		padding: 5px 15px;
		font-size: 0.8em;
		border-radius: 20px;
		margin-bottom: 0.5em;
	}


@media screen and (min-width: 481px) and (max-width: 640px){

	
}


@media screen and (min-width: 641px){
	.contenedorLogin{
		width: 20%;
/*		height: 95%;*/
	}

	.contenedorLogin>img{
		width: 25%;
	}

	.contenido-modal{
		width: 20%;
	}
}