main{
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	        align-items: center;
}

.contenedorRegister{
	background-color: black;
	border: 5px solid indigo;
	width: 90%;
	margin-top: 1em;
/*	height: 70%;*/
	min-height: -webkit-max-content;
	min-height: -moz-max-content;
	min-height: max-content;
}

.contenedorRegister>form{
	width: 100%;
/*	height: 100%;*/
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	-webkit-box-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	        align-items: center;
	flex-wrap: wrap;
	min-height: -webkit-max-content;
	min-height: -moz-max-content;
	min-height: max-content;
}

.contenedorRegister>img{
	display: none;
}

.contenedorRegister>form>div>input[type="reset"],
.contenedorRegister>form>div>input[type="submit"]{
	margin-top: 10%;
	margin-bottom: 3%;
}

.contenedorRegister>form>h1{
	color: white;
	font-size: 1.5em;
		
}
#imgsearch{
	margin-top: 10px;
	background-color:indigo;
	padding: 5px;
	border-radius: 10px;
}
.contenedorRegister>form>div img{
	transition-duration: 0.2s;
	filter: contrast(100%);
}
.contenedorRegister>form>div img:hover{
	filter: contrast(150%);
}


.contenedorRegister>form>input{
	width: 60%;
	margin-bottom: 0.3em;
}

.contenedorRegister>form>label{
	color: white;
	text-align: center;
	margin-bottom: 0.3em;
}

.contenedorRegister>form>div{
	width: 30%;
/*	height: 100%;*/
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	-webkit-box-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	        align-items: center;
}

.contenedorRegister>form>div>label:first-child{
	color: white;
	text-align: center;
	margin-bottom: 10%;
}

#foto{
	display: none;
}
#fotouser{
	width: 29.9vw;
	background-color:indigo;
	border: 5px solid white;  
}

#errorLogin{
	color: red;
	display: none;
	font-size: 0.8em;
}

#errorPwd{
	color: red;
	display: none;
	font-size: 0.8em;
}

.modal{
		display: block;
		position: fixed;
		z-index: 1;
		overflow: auto;
		left:0%;
		top:0%;
		height: 100%;
		width: 100%;
		background: rgba(0,0,0,0.596);
		
	}

	@keyframes modal{
		from{top: -330px; opacity: 0;}
		to{top:0px;opacity: 1;}
	}

	.contenido-modal{
		position: relative;
		background-color: white;
		margin: auto;
		width: 40%;
		margin-top: 10em;
		animation-name: modal;
		animation-duration: 1s;
		border: 2px solid black;
	}

	.contenido-modal>div:first-child{
		background-color: indigo;
		padding: 0.5px;
	}

	.contenido-modal>div:first-child>p{
		color: white;
		text-align: center;
		font-weight: bold;
		font-size: 1.5em;
		padding: 8px;
	}

	.contenido-modal>div:last-child{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.contenido-modal>div:last-child>p{
		color:black;
		font-weight: bold;
		text-align: center;
	}

	.contenido-modal>div:last-child>button{
		border: none;
		outline: none;
		background: indigo;
		color:white;
		padding: 5px 15px;
		font-size: 0.8em;
		border-radius: 20px;
		margin-bottom: 0.5em;
	}


@media screen and (min-width: 481px) and (max-width: 640px){

}


@media screen and (min-width: 641px){
	.contenedorRegister{
		width: 25%;
/*		height: 70%;*/
	}

	#fotouser{
		width: 100%;
	}

	.contenedorRegister>form>input{
	width: 60%;
	margin-bottom: 0.3em;
	}

	.contenido-modal{
		width: 20%;
	}
}
