div{
	font-family: sans-serif;
	font-size: large;
	font-weight: bold;
	padding: 30px;
	margin: 20px;
	width: 100px;
	color: #fff;
	/* height: 100px; */
	border: 2px solid white;
	border-radius: 8px;
	background: #5DBA5C;
	text-align: center;
	box-shadow: 0px 0px 0px black;
	transition-duration: 0.3s;
}
div:hover{
	box-shadow: 0px 0px 10px black;
}
