/* ┌────────────────────────┐ */
/* │ Default: 320px a 480px │ */
/* └────────────────────────┘ */

main>h3{
	text-decoration: underline;
	font-size: 30px;
	text-align: center;
	margin: 10px;
	flex-basis: 100%;
}


section{
	margin-top: 30px;
	display: grid;
  	grid-template-columns: 1fr 8fr 1fr;
  	grid-template-rows: 1fr 8fr 1fr 2fr;
	/*grid-gap:10px;*/
	grid-row-gap:10px;
}

section>div:nth-child(1){
	display: flex;
	justify-content: space-around;
	align-items:center;
	grid-column: 2/3;
	grid-row: 1;
}

canvas{
	border: 1px solid black;
	/*width:100%;*/
	grid-column: 2/3;
	grid-row:2;
	align-self: center;
	margin: auto;
}

#botonesDiv{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	grid-column: 2/3;
	grid-row: 3;
}

#labelNumeros{
	text-align: center;
	grid-column: 2/3;
	grid-row:4;
}

#divNumeros{
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	grid-column: 2/3;
	grid-row:4;
}

.numeros{
	padding: 3px;
	border: 1px solid black;
}


@media screen and (min-width: 481px) and (max-width: 640px){
	section{
	margin-top: 30px;
	display: grid;
  	grid-template-columns: 15% 45% 25% 15%;
  	grid-template-rows: 1fr 1.5fr 0.5fr;
	/*grid-gap:10px;*/
	grid-row-gap:10px;
	}

	section>div:nth-child(1){
	display: flex;
	justify-content: space-around;
	align-items:center;
	grid-column: 2/4;
	grid-row: 1;
	}
	#botonesDiv{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	grid-column: 3/5;
	grid-row: 2;
	}
	#botonesDiv button{
		text-align: center;
		height: 20%;
		width: 50%;
		margin-left: 5px;
	}

	#labelNumeros{
	text-align: center;
	grid-column: 2/3;
	grid-row:3;
	}

	#divNumeros{
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	grid-column: 2/4;
	grid-row:3;
	}


}
@media screen and (min-width: 641px){
	section{
	margin-top: 30px;
	display: grid;
  	grid-template-columns: 30% 25% 15% 30%;
  	grid-template-rows: 1fr 1.5fr 0.5fr;
	/*grid-gap:10px;*/
	grid-row-gap:10px;
	}

	section>div:nth-child(1){
	display: flex;
	justify-content:center;
	align-items:center;
	grid-column: 2;
	grid-row: 1;
	}

	#tiempoDiv{
		display: flex;
		justify-content:center;
		align-items:center;
		grid-column: 2;
		grid-row: 1;
	}

	#botonesDiv{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	grid-column: 3/4;
	grid-row: 2;
	}
	#botonesDiv button{
		text-align: center;
		height: 20%;
		width: 50%;
		margin-left: 5px;
	}

	#labelNumeros{
	text-align: center;
	grid-column: 2/4;
	grid-row:3;
	}

	#divNumeros{
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	grid-column: 2/4;
	grid-row:3;
	}

}
