@import url('https://fonts.googleapis.com/css?family=Rubik|Spartan:500&display=swap');
/*Codigo color del logo -> c42627*/
html{
	scroll-behavior: smooth;
	margin: 0;
	height: 100%;
	min-width: 320px;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

*{
	box-sizing: border-box;
}


/* ┌────────────────────────┐ */
/* │ Default: 320px a 480px │ */
/* └────────────────────────┘ */
body{
	background-color: pink;
	padding: 0;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 100%;
	margin: 0;
}


header{
	position: relative;
	font-family: 'Spartan', sans-serif;
}

header:before{
	content: "";
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-image: url("../img/sudokuFondo.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	filter: blur(1.5px);
}

header>div{
	height: 250px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
header>div>div{
	background-color: rgba(1,0,0,.5);
	padding: 5px 6px;
	border-radius: 10px;
}
header>div>div>img{
	float: left;
	width: 100px;
	height: 100px;
}

header>div>div>hgroup>h1{
	position: static;
	margin-top: 40px;
	margin-left: 120px;
	color: white;
	font-size: 32px;
}
header>div>div>hgroup>h2{
	color: #C4FFC6;
	margin-left: 20px;
	font-style: italic;
	font-size: 15px;
	margin-top: 40px;
}

nav{
	all:unset;
	font-family: sans-serif;
	background: #36AE36;
	width: 100%;
}

nav>div{
	height: 15px;
}


main{
	background-color: #D3D3D3;
	flex: 1;
	justify-content: center;
	padding-bottom: 20px;
}

main a,
footer a{
	/* text-decoration: none; */
	transition-duration: 0.2s;
}
main a:hover,
footer a:hover{
	color: #024A00;
	text-decoration: underline;
}


footer{
	font-family: 'Rubik', sans-serif ;
	background: #439F43;
	color: black;
	width: 100%;
	font-size: 1.1em;
}
footer a{
	color: #004407;
	text-decoration: none;
}

footer div:nth-child(1) {
	background-color: #008003;
}


footer div:nth-child(1) a{
	width: 100%;
	text-align: center;
	line-height:40px ;
	display: block;
}

footer div:nth-child(1) a:hover{
	background: darkgreen;
	transition-duration: 0.3s;
}

footer ul{
	list-style: none;
	text-align: center;
	padding: 0 20px;
}
footer>ul>li{
	display: inline-block;
	margin: 0 15px ;
}
footer>address{
	text-align: center;
	margin: 0 15px 10px;
}

/* ┌────────────────────────────┐ */
/* │ Menu iconos: 481px a 640px │ */
/* └────────────────────────────┘ */
@media screen and (min-width: 481px) and (max-width: 640px){
	header{
		margin: 0;
	}
}



/* ┌─────────────────────────────────┐ */
/* │ Menu completo: 641px a infinito │ */
/* └─────────────────────────────────┘ */
@media screen and (min-width: 641px){
	/* header escritorio */
	header>div>div{
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 5px 25px;
		border-radius: 15px;
		margin: 5%;
	}
	header>div>div>img{
		width: 130px;
		height: 130px;
	}
	header>div>div>hgroup{
		display: flex;
		flex-direction: column;
	}
	header>div>div>hgroup>h1{
		margin-left: 20px;
		font-size: 45px;
	}
	header>div>div>hgroup>h2{
		margin-left: 20px;
		font-size: 25px;
		margin-top: -20px;
		/* TODO Edu(21/02/2020): corregir break? */
	}
}




/*Botones e inputs*/
form input[type=email],
form input[type=password],
form input[type=text],
form input[type=number]{
	border: 2px solid black;
	border-radius: 4px;
	padding: 5px;
	transition-duration: 0.3s;
}
form input[type=email]:hover,
form input[type=password]:hover,
form input[type=text]:hover,
form input[type=number]:hover{
	background: mistyrose;
}
form input[type=email]:focus,
form input[type=password]:focus,
form input[type=text]:focus,
form input[type=number]:focus{
	background: lightblue;
}


form input[type="reset"],
form input[type="button"],
form input[type="submit"]{
	border: none;
	outline: none;
	background: indigo;
	color:white;
	padding: 5px 15px;
	font-size: 0.8em;
	border-radius: 20px;
}
button{
	border: none;
	outline: none;
	background: green;
	color:white;
	padding: 5px 15px;
	font-size: 0.8em;
	border-radius: 20px;
}
